h1 {
  /* color: red; */
  /* color: white; */
  color: rgb(200, 150, 235);
}

h2 {
  color: rgb(130, 10, 30);
}

.black {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.green {
  /* color: rgb(0, 255, 0); */
  color: #00ff00;
}

h3 {
  color: rgba(0, 0, 255, 1);
}